[submodule "extern/sqlite_orm"]
	path = extern/sqlite_orm
	url = https://github.com/fnc12/sqlite_orm.git
[submodule "extern/rapidjson"]
	path = extern/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "extern/websocketpp"]
	path = extern/websocketpp
	url = https://github.com/zaphoyd/websocketpp
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "extern/sqlite"]
	path = extern/sqlite
	url = https://github.com/Kuree/sqlite.git
[submodule "extern/asio"]
	path = extern/asio
	url = https://github.com/chriskohlhoff/asio
