[submodule "extern/sqlite_orm"]
	path = extern/sqlite_orm
	url = https://github.com/fnc12/sqlite_orm.git
[submodule "extern/rapidjson"]
	path = extern/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "extern/websocketpp"]
	path = extern/websocketpp
	url = https://github.com/zaphoyd/websocketpp
